@model HumansInHarmony.Models.User

@{
    ViewData["Title"] = "UserProfile";
}

<style>
    body {
            text-align: center;
            color: white;
            font-size: 20px;
        }
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<body style="background-image:url(https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&w=1000&q=80); background-size:cover ">
    <div class="content">
        <h1>@Model.Name</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Facebook)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Facebook)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Instagram)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Instagram)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Snapchat)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Snapchat)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Twitter)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Twitter)
                </dd>
            </dl>
        </div>
        <div>
            @*<a asp-action="EditProfile" asp-route-id="@Model.Id">Edit Profile</a>*@
        </div>
        </div>
</body>